<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>✌ FC SOFTWARE || CHAT ✌ </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.29/sweetalert2.min.css"
        integrity="sha512-doewDSLNwoD1ZCdA1D1LXbbdNlI4uZv7vICMrzxfshHmzzyFNhajLEgH/uigrbOi8ETIftUGBkyLnbyDOU5rpA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/chatAsset/style.css">


    <!-- Tag manager -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.js"
        integrity="sha512-HiJMeObPjMYvMcA0jvYKyRPFz75sq+YsOJb8HW+RxMiXgWQlgdLd5sNqb16LcyqLCiWNfNeh/QZoi9kzr4d6ng=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.css"
        integrity="sha512-jQG1E/4m1U5KloaLuKODuYwGFW8HC4MdH9E9IjkRDjqUuFD0RJ/InBSPCWkVx/K2pQD4kPcD12xXVWbNOmmivQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .direct-chat-primary .right>.direct-chat-text {
            background-color: #76d47c;
            border-color: #76d47c;
            color: #fff;
        }

        .direct-chat-primary .right>.direct-chat-text::after,
        .direct-chat-primary .right>.direct-chat-text::before {
            border-left-color: #76d47c;
        }
    </style>
</head>

<body>
    <div class="card direct-chat direct-chat-primary" id="chatApp">
        <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control mt-3 mb-3" placeholder="E-Mail" id="Mail" />
                        <input type="password" class="form-control mt-3 mb-3" placeholder="Password" id="Password" />
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-dark" @click="authLogin()">Giriş Yap</button>
                        </div>
                        <p class="text-center mt-4 mb-4">- VE YA -</p>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-warning text-white" @click="authLogin('Google')">Google İle Giriş
                                Yap</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header ui-sortable-handle">
            <h3 class="card-title">Sana Özel Mesaj ❤ </h3>
            <div class="card-tools">
                Toplam Çevrimiçi: <span class="badge badge-primary"><b id="onlineCount"></b></span>

                <button type="button" class="btn btn-tool">
                    <i class="fa-solid fa-solid fa-gear" id="idProfileSetting" @click="profileSetting"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="chat-pane-toggle">
                    <i class="fa-solid fa-user-group"></i>
                </button>
                <button type="button" class="btn btn-tool">
                    <i class="fa-solid fa-arrow-right-from-bracket" @click="userLogOut"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="direct-chat-messages" style="height: 92vh;" id="messageBody">
                <div v-for="message in getAllMessage" :key="message">

                    <!-- message : {{message[userInfo.userID]}} -->
                    <!-- Gelen Mesajlar -->
                    <div class="direct-chat-msg" v-if="Object.keys(message)[0] != userInfo.userID">
                        <div class="direct-chat-infos clearfix">
                            <span
                                class="direct-chat-timestamp float-right">{{message[Object.keys(message)[0]].messageDate}}</span>
                        </div>
                        <img class="direct-chat-img" :src="userAllInfo[Object.keys(message)[0]].userProfil"
                            alt="message user image">

                        <div class="direct-chat-text">

                            <div v-html="message[Object.keys(message)[0]].File">

                            </div>
                            {{message[Object.keys(message)[0]].userMessage }}

                        </div>
                    </div>

                    <!-- Giden Mesajlar -->
                    <div class="direct-chat-msg right" v-else>
                        <div class=" direct-chat-infos clearfix">
                            <span
                                class="direct-chat-timestamp float-left">{{message[Object.keys(message)[0]].messageDate}}</span>
                        </div>

                        <img class="direct-chat-img" :src="userInfo.userProfil" alt="message user image">

                        <div class="direct-chat-text">
                            <div v-html="message[Object.keys(message)[0]].File">

                            </div>
                            {{message[userInfo.userID].userMessage}}
                        </div>

                    </div>
                </div>
            </div>


            <!-- Şuan ki çevrim içi olan kişilerin hepsini göster -->
            <!-- { "displayName": "Ferhat Cengiz", "online": true, "userID": "sz8n5xLH9zUBiv081vUUmhfKvwL2", "userProfil": "https://avatars.githubusercontent.com/u/79553498?v=4" } -->
            <div class="direct-chat-contacts" style="height: 85vh;">

                <ul class="contacts-list" v-for="infoOnline in userAllInfo" :key="infoOnline">
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" :src="infoOnline.userProfil" alt="User Avatar">
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    {{infoOnline.displayName}}
                                    {{userInfo.userID == infoOnline.userID ? '( Siz )' : ""}}
                                    <small class="contacts-list-date float-right">
                                        <i :class="infoOnline.online ? 'text-success' : 'text-danger'"
                                            class="fa-solid fa-globe"></i>
                                    </small>
                                </span>
                                <span class="contacts-list-msg">
                                    {{infoOnline.online === true ? "Çevrim İçi" : "Son Görülme : "+infoOnline.endWiew}}
                                </span>
                            </div>

                        </a>
                    </li>
                </ul>

            </div>

        </div>
        <!-- <br><br><br> -->

        <div class="card-footer fixed-bottom bg-light">
            <div class="container w-25 mt-2 mb-2" id="proggcessContainer">
                <div class="d-flex justify-content-around">
                    <i class="fa-solid fa-xmark btn btn-sm text-danger" id="fileCancel"></i>
                    <i class="fa-solid fa-circle-arrow-up btn btn-sm text-success" id="fileSend"
                        @click="fileSendButton"><small class="ml-2 mr-2">DOSYAYI GÖNDER (MESAJINIZ İLE BİRLİKTE
                            GİDEBİLİR)</small></i>

                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%"
                        id="proggcessLoad" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
            <div>
                <div class="input-group">
                    <i class="fa-solid fa-paperclip mt-2 mr-3" style="font-size: 19px; cursor: pointer;"
                        id="fileUpload"></i>
                    <input type="file" id="fileInput" class="d-none">
                    <input @keydown.enter="sendMessage" v-model="userChat.userMessage" type="text" name="message"
                        placeholder="Mesaj Yazınız" class="form-control">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-primary" @click="sendMessage">Gönder</button>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.29/sweetalert2.min.js"
        integrity="sha512-gCB2+0sWe4La5U90EqaPP2t58EczKkQE9UoCpnkG2EDSOOihgX/6MiT3MC4jYVEX03pv6Ydk1xybLG/AtN+3KQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-storage.js"></script>

    <script src="app.js"></script>
    <script type="module" src="media.js"></script>


</body>

</html>